body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.2rem;
  line-height: 3.5rem;
  margin:  2%;
  color: #FEF2BF;
}

#level-mobile {
  display: none;
  font-family: 'Press Start 2P', cursive;
  font-size: 2.2rem;
  line-height: 3.5rem;
  margin:  2%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 100%;
  margin: auto;
}

.high-score {
  height: 100%;
  width: 100%;
}

h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.3rem;
  margin:  2%;
  color: #FEF2BF;
}

.btn {
  margin: 20px;
  display: inline-block;
  height: 160px;
  width: 160px;
  border: 5px solid black;
  border-radius: 20%;
}

.start-button {
  visibility: hidden;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

a {
  text-decoration: none;
  color: #FEF2BF;
  font-weight: 500;
}

footer {
  margin-top: 1%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

@media (max-width: 500px) and (min-width: 270px) {

  #level-title {
    display: none;
  }

  #level-mobile {
    display: inline-block;
  }

  .high-score {
    margin: 20px;
  }
  
  .btn {
    margin: 5px;
    height: 30vw;
    width: 30vw;
  }

  .start-button {
    display: flex;
    margin: 50px auto;
    visibility: visible;
    height: 10vw;
    width: 50vw;
    background-color: orange;
    border-radius: 10px;
    border: 2px solid black;
  }

  .start {
    margin: auto;
    font-size: 1.3rem;
    font-family: 'Press Start 2P', cursive;
    color: #FEF2BF;
  }
}